/*estilos del framework de las particulas de fondo*/
#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}
/*estilos header*/
.img-fluid{
    position: relative;
    z-index: 99;
    opacity: .65;
    
    text-align: center;

}
/*estilos card*/
.card {
	width: 90%;
	max-width: 1200px;
    background-size: cover; 
    background-position:center;
	margin-left: auto; 
	margin-right: auto;
    position: relative;
    z-index: 99;
    opacity: .65;
}


* {
  transition: all 0.3s;
}

body {
  background: cadetblue;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: calibri;
  font-size: 120%;
}

.contenedor {
  width: 98vw;
  height: 97vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.encabezado {
  position: relative;
  background: white;
  min-width: 300px;
  width: 70%;
  max-width: 600px;
  padding: 10px;
}

.categoria {
  opacity: 0.3;
  text-align: left;
}

.pregunta {
  padding: 10px;
}
.btn {
  background: white;
  width: 100%;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
}

.numero {
  position: absolute;
  opacity: 0.3;
  top: 10px;
  right: 10px;
}

.puntaje {
  padding: 10px;
  color: white;
}



